name: Node Cross-Platform CI

on:
  pull_request:
  push:
    # filtering branches here prevents duplicate builds from pull_request and push
    branches:
      - main
  # early issue detection: run CI weekly on Sundays
  schedule:
  - cron:  '0 6 * * 0'

env:
  CI: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
        node-version: [18, 20, 22]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Use Node ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Enable Corepack
        run: corepack enable
      - name: Prepare and activate PNPM from package.json
        run: |
          PNPM_VER=$(node -p "require('./package.json').packageManager.split('@')[1].split('+')[0]")
          echo "Using pnpm version: $PNPM_VER"
          corepack prepare pnpm@$PNPM_VER --activate
      - name: Verify Node and PNPM Versions
        run: |
          node -v
          pnpm -v
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Test
        run: pnpm test

