name: Node Cross-platform CI

on:
  pull_request:
  push:
    # filtering branches here prevents duplicate builds from pull_request and push
    branches:
      - main
  # early issue detection: run CI weekly on Sundays
  schedule:
  - cron:  '0 6 * * 0'

env:
  CI: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
        node-version: [18, 20, 22]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Use Node ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'
      - name: Verify Node and Package Manager Versions
        run: node -v && npm -v
      - name: Verify Yarn Version
        run: yarn --version || true
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Test
        run: yarn test

